<!--{% load static %}-->

<!--{% load cart_template_tags %}-->

<!DOCTYPE html>
<html lang="en" xmlns:th="https://wwww.thymeleaf.com">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Drunken</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css">


</head>
<body>
<!-- ##### Header Area Start ##### -->
<header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" href="/">Drunken</a>
            <!-- Navbar Toggler -->
        </nav>
        </nav>


        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            <div class="search-area">
                <form method="GET" action="/search">
                    <input type="text" name="q" id="id_q" placeholder="Type for search">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>

            <!--             User Login Info-->


            <div sec:authorize="isAuthenticated()">
                <div class="user-login-info">
                    <a href="/user/profile"><img src="/mg/core-img/user.svg" alt=""></a>
                </div>
            </div>


            <!-- Cart Area -->
            <div class="cart-area">
                <a href="/orders/order-summary/"><img src="/mg/core-img/bag.svg" alt="">
                    <span sec:authorize="isAuthenticated()" th:text="${itemCount}">  </span>
                </a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <div class="user-login-info">
                    <a href="/logout"><img src="/mg/core-img/logout.png" alt=""></a>
                </div>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <div class="user-login-info">
                    <a href="/user/login"><img src="/mg/core-img/login.svg" alt=""></a>
                </div>
            </div>
        </div>

    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Right Side Cart Area ##### -->
<div class="cart-bg-overlay"></div>

<div class="right-side-cart-area">

    <!-- Cart Button -->


</div>
<nav class="classy-navbar" id="essenceNav">

    <div class="classy-navbar-toggler">
        <span class="navbarToggler"><span></span><span></span><span></span></span>
    </div>
    <!-- Menu -->
    <div class="classy-menu">
        <!-- close btn -->
        <div class="classycloseIcon">
            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
        </div>
        <!-- Nav Start -->

        <div class="classynav" id="myDIV">

            <ul>

                <li>Category</li>
                <li class="btn">
                    <a class="nav-link" href="/bottle">Bottles</a>
                </li>
                <li class="btn">
                    <a class="nav-link" href="/crate">Crates</a>
                </li>


            </ul>


        </div>

        <!-- Nav End -->
    </div>
</nav>


<!-- Content Section -->
<section layout:fragment="content">
    <p>This is filled by the content template.</p>
</section>
<!--{% if messages %}-->

<!--  {% for message in messages %}-->
<!--  <div class="alert alert-{message.tags} alert-dismissible fade show" role="alert" style="padding: 1%">-->
<!--        <strong>{{ message }}</strong> -->
<!--        <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      {% endfor %}-->


<!--{% endif %}-->


<!--{% block body %}-->


<!--{% endblock %}-->


<!-- ##### Footer Area Start ##### -->
<!-- <footer class="footer_area clearfix" style="">

  <div class="col-md-12 text-center">
              <p>

Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>

              </p>

     -->

</div>
</footer>
<!-- ##### Footer Area End ##### -->

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- Plugins js -->
<script th:src="@{/js/plugins.js}"></script>
<!-- Classy Nav js -->
<script th:src="@{/js/classy-nav.min.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>


</body>

</html>