<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Home</title>
</head>
<body>

<div layout:fragment="content">
    <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>

    <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>


                <div class="shop_grid_product_area">


                    <div class="row">
                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-4" th:each="product: ${productList}">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img" style="height:248px;">
                                    <img th:src="${product.bottlePic}" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" th:src="${product.bottlePic}" alt="">

                                    <!-- Favourite -->

                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span th:text="${product.isAlcoholic}"></span>
                                    <a ht:href="${product.id}">
                                        <h6 th:text="${product.name}"></h6>
                                    </a>
                                    <p class="product-price" th:text="${product.price}">
                                    </p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                            <a th:href="@{/} +${product.productType} +@{/} +${product.id}" class="btn essence-btn">view</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

</body>
</html>