<!--Main layout-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>order</title>
</head>
<body>
<div layout:fragment="content">
    <main class="mt-5 pt-4">
    <div class="">
        <div class="container dark-grey-text mt-5">
        <div class="row">
            <div class="col-70">
                <div class="table-responsive text-nowrap">
                    <h2 style="margin-top: 1%">Order Summary</h2>
                    <table class="table">
                        <thead>
                        <tr>

                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
<!--                            <th scope="col"><a th:href="@{/orders/remove/all}"><i-->
<!--                                    class="fa fa-trash"></i></a>-->
<!--                            </th>-->
                            <th>#</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:if="${order != null}">
                            <tr class="col-12 col-sm-6 col-lg-4" th:each="product: ${order.orderItems}">


                                <td>
                                    <div th:if="${product.beverage}">
                                    <a class="fa fa-link"
                                       th:if="${product.beverage.bottle != null}"
                                       th:text=" ${product.beverage.bottle.name}"
                                       th:href="@{'/bottle/'} + ${product.beverage.bottle.id}"></a>
                                    </div>
                                    <a class="fa fa-link"
                                       th:if="${product.beverage.crate != null}"
                                       th:text=" ${product.beverage.crate.name}"
                                       th:href="@{'/crate/'} + ${product.beverage.crate.id}"></a>
                                </td>


                                <td th:text="${product.price}"></td>
                                <td>
                                    <a th:href="@{/orders/remove/}+${product.id}"><i
                                            class="fa fa-trash"></i></a>
                                </td>

                            </tr>
                            <tr>
                                <td>Total</td>
                                <td th:text="${order.price}"></td>
                            </tr>

                            <tr>
                                <td colspan="5">
                                    <a class="btn essence-btn float-left ml-2"
                                       th:href="@{'/orders/checkout/'}+${order.id}" style="">Proceed to checkout</a>
                                    <a class="btn essence-btn float-right" href="/" style="">Continue
                                        shopping</a>
                                </td>
                            </tr>
                        </div>

                        </tbody>
                    </table>

                </div>
            </div>
            <div class="col-30" style="margin-left: 5%">
                <div class="table-responsive text-nowrap">
                    <h2 style="margin-top: 1%">Address</h2>
<!--                    <div th:if="${address?.street == null}">-->
<!--                        No address Found please add address-->
<!--                        </br>-->
<!--                        <a class="btn btn-primary py-3 px-5" href="/user/profile/add/address">add address</a>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        Street : <span th:text="${address.street}"></span>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        PostalCode : <span th:text="${address.postalCode}"></span>-->
<!--                    </div>-->

<!--                    <div>-->
<!--                        number : <span th:text="${address.number}"></span>-->
<!--                    </div>-->

                    <div th:if="${userInfo?.address == null}">
                        No address Found please add address
                        </br>
                        <a class="btn essence-btn ml-2" href="/user/profile/add/address/billing">add billing address</a>
                        <a class="btn essence-btn ml-2" href="/user/profile/add/address/delivery">add delivery address</a>
                    </div>
                    <div th:if="${userInfo?.address != null}" th:each="address: ${userInfo.address}">
                        <div>
                            Address Type :<b><span th:text="${address?.addressType}"></span></b>
                        </div>
                        <div>
                            Street : <span th:text="${address?.street}"></span>
                        </div>
                        <div>
                            PostalCode : <span th:text="${address?.postalCode}"></span>
                        </div>

                        <div>
                            number : <span th:text="${address?.number}"></span>
                        </div>
                        <!--                        <a class="btn essence-btn ml-2" href="/user/profile/add/address">edit address</a>-->
                        <br/>
                    </div>
                    <div th:if="${userInfo?.address != null}">
                        <a class="btn essence-btn ml-2" href="/user/profile/add/address/billing">edit billing address</a>
                        <a class="btn essence-btn ml-2" href="/user/profile/add/address/delivery">edit delivery address</a>
                    </div>
<!--                    <a class="btn essence-btn float-left ml-2" href="/user/profile/add/address">edit address</a>-->

                </div>
            </div>
        </div>
        </div>
    </div>
    </main>
</div>
</body>
</html>


