<!--Main layout-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>product page</title>
</head>
<body>

<div layout:fragment="content">
    <main class="mt-5 pt-4">
        <div class="container dark-grey-text mt-5">

            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-md-6 mb-4">

                    <img th:if="${product.bottlePic != null}" th:src="${product.bottlePic}" class="img-fluid" alt="">

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 mb-4">

                    <!--Content-->
                    <div class="p-4">

                        <div class="mb-3">
                            <a href="">
                                <span th:text="${product.name}" class="lead font-weight-bold"> </span>
                            </a>

                        </div>



                        <label>Price :
                        </label> <span th:text="${product.price}"></span>
                        <br>
                        <label>Volume :
                        </label> <span th:text="${product.volume}"></span>
                        <br>

                        <label>Alcohol percentage : <span th:text="${product.volumePercent}"></span>
                            <br>
                            <label>Items in stock : </label>
                            <span th:if="${product.inStock != 0}"
                                  th:text="${product.inStock}"> </span>
                            <span
                                    th:if="${product.crateInStock != 0}"
                                    th:text="${product.crateInStock}"> </span>
                            <br>
                            <label>supplier : <span th:text="${product.supplier}"></span>

                                <br>
                                <label>contain alcohol : </label><span th:text="${product.isAlcoholic}"></span>

<br>
                                <!--                        <p class="lead font-weight-bold">Description</p>-->

</p>
                                <a th:href="@{/}+${product.productType}+@{/add/}+${product.id}"
                                   class="btn btn-primary btn-md my-0 p">Add to cart
                                    <i class="fas fa-shopping-cart ml-1"></i>
                                </a>


                    </div>
                    <!--Content-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->


            <!--Grid row-->

    </main>
    <!--Main layout-->
</div>

</body>
</html>