<!--Main layout-->
<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Welcome to Our Site</title>
</head>
<body>

<div layout:fragment="content">
    <div style="margin-left: 10%">

        <h1 style="margin-top: 2%"><b>Profile</b></h1>
        <br/>
        <div>
            User Name : <span th:text="${userInfo.userName}"></span>
        </div>
        <div>
            Date of Birth : <span th:text="${#dates.format(userInfo.birthDate, 'dd/MM/yyyy')}"></span>
        </div>
        <div class="form-group"></div>
        <a class="btn btn-primary py-3 px-5" href="/user/profile/edit">edit profile</a>
    </div>

</div>

</div>

</body>
</html>